@charset "utf-8";

/* 禁用iPhone中Safari的字号自动调整 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 解决IOS默认滑动很卡的情况 */
  -webkit-overflow-scrolling: touch;
  max-width: 640px;
  margin: 0 auto;
}
body {
  background: #fff;
  font-family: -apple-system, Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Source Han Sans SC", "Microsoft YaHei", Heiti, SimSun, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}
td {
  cursor: pointer;
}
/* 表单 */
button,
input[type],
input,
textarea,input[type]:focus,input:focus,textarea:focus {
  margin:0!important;
  outline: none;
  resize: none;
  border: none!important;
  font-size: 14px;
  box-shadow: none!important;
  /*去掉ios阴影*/
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box!important;
  -webkit-box-sizing:border-box!important;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
i,strong,b{
  font-weight: normal;
  font-style: normal;
}
.nc-container .nc_scale span {
  height: 34px;
  line-height: 34px;
}
.alertCommon{
  position: fixed;
  left: 10%;
  right: 10%;
  top: 45%;
  -webkit-transform: translate3d(0,-50%,0);
          transform: translate3d(0,-50%,0);
  border-radius: 12px;
  background: #fff;
  z-index: 100000;
  display: none;
}
.alertCommon-info{
  padding: 24px 16px;
  font-size: 14px;
  line-height: 20px;
}
.alertCommon-btn{
  border-top: 0.5px solid #dddce0;
  padding: 12px;
  line-height: 20px;
  color: #007aff;
  text-align: center;
  cursor: pointer;
}
.alertMask{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(0,0,0,0.6);
  z-index: 99999;
  display: none;
}
#app_loading{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.05);
  z-index: 2000;
}
#app_loading svg{
  width: 96px!important;
  height: 96px!important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%)!important;
          transform: translate(-50%,-50%)!important;
}
.loading .preloader-wrapper{
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
}
.bar .button{
  font-size: 30px!important;
  padding:0 10px 0 30px!important;
  background:transparent;
}
.bar .button:active{
  background: none;
  border: none;
}
.select-wrapper span.caret{
  z-index: 100;
  color: #c8c7cc;
  right: 20px;
}
.dropdown-content li>a, .dropdown-content li>span{
  color: #000;
}
select:focus{
  outline: none;
}
/* 初始化 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
a{
  cursor: pointer;
  color:#007aff;
}
/*清除浮动*/
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.row .col{
  padding: 0;
}
.modal{
  background: #fff;
  max-width: 640px;
  -webkit-transform: none!important;
          transform: none!important;
  box-shadow: none;
}
.modal.bottom-sheet{
  margin:auto;
}
#modalCloud h4{
  line-height: 24px;
  margin-bottom: 16px;
}
.modal input[type='password']{
  border:0.5px solid #dddce0!important;
  border-radius: 4px;
  height: 48px;
  padding: 12px;
  line-height: 24px;
  font-size: 16px;
}
.tabs .tab a{
  text-transform: capitalize;
}
.tabs .indicator{
  display: none;
}
.navbar-fixed{
  height: 44px;
}
.navbar-fixed nav{
  max-width: 640px;
  height: 44px;
}
.head-pic{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 16px;
}
.head-pic>img{
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);transform: translateY(-50%);
}
.card{
  border-radius: 12px;
  overflow: hidden;
  box-shadow: none;
  margin-bottom: 24px;
  margin-top: 0;
}
.bg-fff{
  min-height: 100vh;
  background: #fff;
}
/*保障*/
.dapp-top{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  color: #fff;
  padding: 32px 16px 0 16px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}
.dapp-top h3{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 4px;
}
.indem{
  padding: 0;
  min-height: 100vh;
}
.tab-container{
  height: 48px;
  overflow-y: hidden;
  position: relative;
}
.tab-container:after{
  content:'';
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  border-bottom: 0.5px solid #dddce0;
}
.indem .tabs{
  display: block;
  padding:0 16px;
  height: 58px;
}
.tabs-fixed {
  padding-top: 48px;
}
.dapp-list{
  padding: 12px 16px;
}
.tabs-fixed .tab-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
}
.indem .tabs .tab a{
  font-size: 12px;
  color: #8a8a8f;
}
.indem .tabs .tab a:hover{
  color: #8a8a8f;
}
.indem .tabs .tab a.active{
  color: #000;
  font-weight: 500;
}
.indem .card{
  display: block;
  margin: 0;
  padding: 12px 0;
  position: relative;
}
.indem .card:before{
  content: '';
  position: absolute;
  left: 0;
  top: 12px;
  z-index: 3;
  width: 72px;
  height: 72px;
  border-radius: 16px;
  border: 0.5px solid rgba(0,0,0,0.08);
}
.indem-swiper{
  max-height:42.7vw;
}
.indem-swiper .swiper-pagination{
  bottom: 8px!important;
  line-height: 6px;
}
.indem-swiper .swiper-pagination .swiper-pagination-bullet{
  width: 6px;
  height: 6px;
  background-color: rgba(255,255,255,0.4);
  opacity: 1;
}
.indem-swiper .swiper-pagination .swiper-pagination-bullet-active{
  background-color: rgba(255,255,255,0.8);
}
.indem-swiper img{
  display: block;
}
.indem .card img{
  float: left;
  width: 72px;
  height: 72px;
  margin-right: 16px;
  border-radius: 16px;
}
.indem-text{
  overflow: hidden;
}
.indem-text .indem-title{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
  padding: 0;
}
.newTip .newIcon{
  padding:0 6px;
  font-size:10px;
  line-height: 1;
  padding:4px 5px 2px 6px;
  margin-left: 4px;
  color: #fff;
  font-weight: 500;
  border-radius:8px;
  background:-webkit-linear-gradient(left, #5ac8fa, #007aff);
  background:-o-linear-gradient(left, #5ac8fa, #007aff);
  background:linear-gradient(to right, #5ac8fa, #007aff);
}
.indem-title span{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  max-width: 100%;
}
.newTip span{
  max-width: calc(100% - 40px);
}
.indem-text .indem-slogan{
  color: #000;
  font-size: 12px;
  margin-top:4px;
  padding: 0;
}
.indem-text .tip{
  font-size: 12px;
  line-height: 16px;
  color:#8a8a8f;
  margin-top:4px;
}
/*数字资产账户安全保障*/
.joinIndem{
  background: linear-gradient(#d6f6ff, #fff 50%);
}
.joinIndem-currency{
  width: 100%;
  height: 280px;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
}
.joinIndem-currency-bg{
  position: absolute;
  width: 100%;
  top:50px;
  height: 180px;
  background:rgba(0,0,0,0.03);
  -webkit-transform: skewY(-9deg);
          transform: skewY(-9deg);
}
.joinIndem-currency ul {
  width: 912px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: play linear 25s infinite;
          animation: play linear 25s infinite;
}
.joinIndem-currency ul li {
  width: 456px;
  height: 280px;
  float: left;
}
.joinIndem-currency ul li img{
  height: 100%;
}
@-webkit-keyframes play {
  0% {
    left: 0;
  }
  100% {
    left: -456px;
  }
}

@keyframes play {
  0% {
    left: 0;
  }
  100% {
    left: -456px;
  }
}
.joinIndem-invite{
  padding:0 16px;
  display: block;
}
.joinIndem-invite-container{
  padding:14px 0;
  border-bottom: 0.5px solid #dddce0;
}
.joinIndem-invite .i18n{
  color: #ff2d55;
  padding-left: 25px;
  line-height: 20px;
}
.joinIndem-invite .right{
  color: #c8c7cc;
}
#increase_bid,.confirmModal{
  border-radius: 12px;
  top: 45%!important;
  max-width: 400px;
  -webkit-transform: translate3d(0,-50%,0)!important;
          transform: translate3d(0,-50%,0)!important;
}
.confirmModal .modal-content{
  padding:24px 16px;
  border-bottom: 0.5px solid #dddce0;
  color: #000;
  line-height: 20px;
  word-wrap: break-word;
}
.confirmModal h4{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
  text-align: center;
}
.confirmModal .modal-foot{
  text-align: center;
  height: 44px;
  line-height: 44px;
  padding: 0;
  display: block;
  color: #007aff;
  cursor: pointer;
}
.confirmModal .modal-foot a,.confirmModal .modal-foot span{
  float: right;
  width: 50%;
  color: #007aff;
}
.confirmModal .modal-foot a:first-of-type,
.confirmModal .modal-foot span:first-of-type{
  border-left: 0.5px solid #dddce0;
}
.joinIndem-nav{
  height: 60px;
}
.joinIndem-nav nav{
  bottom: 0;
  background: #fff;
  padding:12px 16px;
  height: auto;
  line-height: initial;
  z-index: 1000;
}
.joinIndem-nav .verifying{
  text-align: center;
  font-size: 16px;
  color:#8A8A8F;
  height: 37px;
  line-height: 37px;
}
.joinIndem-nav-title{
  color: #ff2d55;
  font-size: 16px;
  line-height: 20px;
  padding-right:140px;
  font-weight: 500;
}
.joinIndem-nav-tip{
  color: #8a8a8f;
  padding-right:140px;
  font-size: 12px;
}
.joinIndem-btn{
  font-size: 16px;
  font-weight: 500;
  background: #ff2d55;
  border-radius: 12px;
  padding:0 10px;
  min-width: 110px;
  height: 44px;
  line-height: 44px;
  color: #fff;
  text-align: center;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate3d(0,-50%,0);transform: translate3d(0,-50%,0);
}
.joinIndem-title{
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  padding:50px 30px 12px;
}
.joinIndem-tip{
  display: block;
  text-align: center;
  color:#007aff;
  font-size: 16px;
  line-height: 20px;
  margin:0 0 80px;
}
.joinIndem-average{
  color: #8a8a8f;
  line-height: 20px;
  padding:0 30px;
  text-align: center;
}
.joinIndem section{
  padding: 0 16px;
}
.joinIndem-card{
  padding:32px 24px;
  background:#f7f7fa;
  border-radius: 12px;
  margin:0 0 14px;
}
.joinIndem-card .title{
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}
.joinIndem-card li{
  margin-top: 10px;
  color: #8a8a8f;
  line-height: 24px;
}
.joinIndem-appli-btn{
  background: #5ac8fa;
  display: inline-block;
  margin-top: 24px;
  padding:8px 16px;
  border-radius: 12px;
  color: #fff;
}
.joinIndem-contract{
  display: block;
  text-align: center;
  color:#007aff;
  font-size: 16px;
  line-height: 20px;
  margin:16px 0 64px;
}
.joinIndem-tip img,.joinIndem-contract img{
  vertical-align: middle;
}
.joinIndem-convention{
  padding:10px 0 40px;
  display: block;
  color:#007aff;
  line-height: 26px;
  text-align: center;
}
.joinIndem-bg{
  position: relative;
}
.idem-text1,.idem-text2{
  position: absolute;
  text-align: center;
  font-weight: 500;
  width: 60px;
  word-wrap: break-word;
}
.idem-text1{
  color: #ff2d55;
  top: 67%;
  left: 42%;
}
.idem-text2{
  color: #ff2d55;
  right: 10%;
  top: 64%;
  color:#8a8a8f;
}
/*申请保障金、报名陪审团*/
form{
  width: 100%;
}
.july{
  padding-bottom: 34px;
  background:#f7f7fa;
  min-height: 100vh;
}
.july .list-name{
  color: #8a8a8f;
  padding:24px 16px 8px;
}
.july input{
  width: 100%;
  font-size: 14px!important;
  height: 48px!important;
  background: #fff!important;
  border-top:0.5px solid #dddce0!important;
  border-bottom:0.5px solid #dddce0!important;
  padding:14px 16px!important;
}
.july input:focus{
  border-top:0.5px solid #dddce0!important;
  border-bottom:0.5px solid #dddce0!important;
}
.picker-items{
  font-size: 16px!important;
}
.july-tip{
  padding:10px 16px 0;
  color: #8a8a8f;
  line-height: 1.5;
}
#picker,#datetime-picker{
  background:#fff url(../img/arrow.png) no-repeat 93% center /9px!important;
}
.july textarea{
  width: 100%;
  background: #fff;
  height:264px ;
  padding:12px 16px;
  border-top:0.5px solid #dddce0!important;
  border-bottom:0.5px solid #dddce0!important;
}
.july .july-submit{
  padding:24px 16px 0;
}
.july .july-submit .i18n,
.eosforce-token .publish-submit .i18n{
  color: #fff;
  display: block;
  width:100%;
  border-radius: 12px;
  background:#5ac8fa!important;
  height: 44px!important;
  line-height: 44px!important;
  text-align: center;
  font-size: 16px;
  padding:0!important;
  border: none!important;
}
/*图片上传*/
.z_photo {
  background: #fff;
  padding:12px 16px 0 0;
  border-top:0.5px solid #dddce0!important;
  border-bottom:0.5px solid #dddce0!important;
  clear: both;
}
.z_addImg ,.z_file{
  float: left;
  margin-bottom: 12px;
  margin-left: 16px;
  border-radius: 12px;
  height: 96px;
  width: 96px;
  background: #f7f7fa;
  position: relative;
  overflow: hidden;
}
.uploader{
  width: 100%;
  height: 100%;
}
.z_addImg img{
  float: right;
  width:20px;
}
.z_file{
  background: #f7f7fa url(../img/addPortrait@2x.png) no-repeat center/32px;
}
.z_file input,.z_file input::-webkit-file-upload-button {
  height: 100%!important;
  width: 100%!important;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.z_file input#file{
  z-index: 1000;
}
/*遮罩层*/
.z_mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}

.z_alert {
  width: 260px;
  height: 140px;
  border-radius: 12px;
  background: #fff;
  font-size: 14px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -130px;
  margin-top: -75px;
}
.z_alert p{
  text-align: center;
  margin: 0;
}
.z_alert p:nth-child(1) {
  line-height: 80px;
}

.z_alert p:nth-child(2) span {
  display: inline-block;
  width: 49%;
  height: 60px;
  line-height: 60px;
  float: left;
  border-top: 1px solid #ddd;
}

.z_cancel {
  border-right: 1px solid #ddd;
}
/*公示*/
.public-none{
  font-size: 16px;
  color:#c8c7cc;
  line-height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);transform: translate3d(-50%,-50%,0);
}
.public{
  padding:24px 16px;
}
.public>.card{
  display: block;
  padding:24px;
  color: #000;
}
.public .top{
  padding-bottom: 23.5px;
}
.user-info{
  overflow: hidden;
}
.user-info .user-name{
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.user-info .user-addr{
  color: #8a8a8f;
  margin-top: 8px;
}
.stolen-assets{
  border-top: 0.5px solid #dddce0;
  border-bottom: 0.5px solid #dddce0;
  padding:24px 0;
  text-align: center;
}

.stolen-assets h4{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}
.stolen-assets p{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.cri-res{
  padding-top: 24px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.cri-res .agree{
  color:#4cd964;
}
.cri-res .deny{
  color:#ff3b30;
}
.cri-res img{
  vertical-align: middle;
  width: 20px;
  margin-right: 8px;
}
.cri-res span{
  vertical-align: middle;
}
.pubDetail{
  padding:24px 16px 0;
}
.pubDetail header .head-pic{
  width: 72px;
  height: 72px;
}
.Etherscan{
  margin-top: 6px;
  display: block;
}
.Etherscan img{
  vertical-align: middle;
  width: 20px;
  margin-right: 4px;
}
.Etherscan span{
  color: #5ac8fa;
  vertical-align: middle;
}
.pubDetail .stolen-assets{
  border: 2px solid #000;
  background:#f7f7fa;
  margin:24px 0;
}
.pubDetail .stolen-time{
  display: block;
  color: #8a8a8f;
  padding-bottom: 15px;
}
.pubDetail .stolen-time .right{
  color: #5ac8fa;
}
.pubDetail .detail-des{
  padding:32px 0;
  border-top: 0.5px solid #dddce0;
}
.pubDetail .detail-des h4{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.pubDetail .detail-des-info{
  margin:16px 0 24px;
  line-height: 24px;
}
.pubDetail .main-slider li{
  float: left;
  width: 32%;
  height: 100px;
  margin-right:2%;
  margin-bottom: 8px;
}
.pubDetail .main-slider li:nth-child(3n){
  margin-right: 0;
}
.pubDetail .main-slider li a{
  display: block;
  width: 100%;
  height: 100%;
  background: #d8d8d8;
  position: relative;
  overflow: hidden;
}
.pubDetail .main-slider li a img{
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}
.pubDetail .detail-slider{
  padding-top: 14px;
}
.pubDetail .detail-slider .detail-item{
  margin-top: 10px;
  height: 100px;
  background: #f7f7fa;
  border-radius:12px;
  padding:12px;
}
.pubDetail .detail-slider .head-pic{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.pubDetail .detail-slider .info{
  margin-top: 12px;
  line-height: 20px;
}
.fancybox-is-open .fancybox-bg{
  opacity: 1!important;
}
.fancybox-button--play,.fancybox-button--fullscreen{
  display: none!important;
}
.fancybox-navigation .fancybox-arrow{
  top: auto;
  bottom:20px;
  opacity: 1;
}
.fancybox-navigation .fancybox-arrow--left{
  left: 30%;
}
.fancybox-navigation .fancybox-arrow--right{
  right:30%;
}
/*下载页*/
.download{
  background:url(../img/mds.jpg) no-repeat top center/cover;
  min-height: 100vh;
}
.download-tip{
  background:#fff9e6;
  padding:16px;
  line-height: 20px;
  color: #ff2d55;
}
.download section{
  padding:30px 0;
  text-align: center;
  color: #fff;
}
.download .title{
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  margin:28px 0 6px;
}
.download .wallet-des{
  color: rgba(255,255,255,0.5);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
}
.install{
  display: inline-block;
  padding:15px 0;
  width: 180px;
  border-radius:12px;
  background:#5ac8fa;
  color: #fff;
}
/*公约*/
.convention{
  padding:16px 16px 34px;
  line-height: 1.5;
}
.convention .title{
  font-size: 20px;
  font-weight: 600;
  margin-bottom:10px;
}
.convention .subtitle{
  font-size: 16px;
  font-weight: 500;
  margin:15px 0 8px;
}
.convention .links{
  color:#007aff;
}
/*产品详情页*/
.product{
  min-height: 100vh;
  background:#f7f7fa;
}
.product section{
  padding:8px 16px;
  background: #fff;
}
.product section .date{
  margin-top: 4px;
}
.product .card{
  margin:16px 0 24px;
  overflow: visible;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.08);
}
.product .top-container{
  position: relative;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
}
.product .top-container img{
  display: block;
}
.product .top-text{
  font-size: 12px;
  color: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);transform: translateY(-50%);
}
.product .top-text h4{
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.product .top-text .time{
  color: rgba(255,255,255,0.5);
  margin-top: 8px;
}
.product .vs{
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.12);
  font-weight: 500;
}
.product .vs h5{
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
  font-weight: 500;
}
.product span,.product img{
  vertical-align: middle;
}
.product .no-bug,.product .have-bug{
  width: 50%;
  float: left;
  position: relative;
  padding: 12px 0;
  color: #fff;
  font-weight: 500;
}
.product .no-bug{
  padding-right: 32px;
}
.product .have-bug{
  padding-left: 32px;
}
.product .no-bug:after,.product .have-bug:after{
  content: '';
  position: absolute;
  width: 8px;
  height: 100%;
  top: 0;
  border:none;
}
.product .no-bug:before,.product .have-bug:before{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -8px;
  border:4px solid transparent;
}
.product .no-bug:after,.product .no-bug:before{
  left: -8px;
  border-right-color: #4cd964;
  border-bottom-color: #4cd964;
}
.product .have-bug:after,.product .have-bug:before{
  right: -8px;
  border-left-color: #ff3b30;
  border-bottom-color: #ff3b30;
}
.product .no-bug:after,.product .no-bug{
  background: #4cd964;
}
.product .have-bug:after,.product .have-bug{
  background: #ff3b30;
}
.product .vs-box{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #000;
  border:2px solid #fff;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.12);
  -webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);
}
.product .card .people{
  padding:24px 10px;
}
.product .people li{
  float: left;
  width: 50%;
  position: relative;
  color: #ff3b30;
  font-size: 12px;
  font-weight: 500;
}
.product .people li:first-child{
  color:#4cd964;
}
.product .people li:first-child:after{
  content: "";
  width: 100%;
  height: 100%;
  border-right:0.5px solid #dddce0;
  position: absolute;
  right: 0;
  top: 0;
}
/*公共邀请链接*/
.invite-box{
  display: inline-block;
  padding:8px 12px;
  background:#f7f7fa;
  color:#ff2d55;
  font-size: 12px;
  font-weight: 500;
  border-radius: 12px;
}
.rule-list{
  padding:32px 0 24px;
}
.rule-list .title{
  overflow: hidden;
  color: #c8c7cc;
  font-weight: 500;
  text-align: center;
}
.rule-list .title span{
  display: inline-block;
  padding:0 16px;
  position: relative;
}
.invite-candy{
  padding-top:24px;
}
.invite-candy .token{
  text-align: center;
}
.invite-candy .token .title{
  font-size: 12px;
}
.invite-candy .token .value{
  font-size: 20px;
  color:rgb(255,149,0);
  margin-top: 4px;
}
.product .rule-content{
  margin: 24px 0;
  line-height: 24px;
}
.product5-contract{
  color: #007aff;
  margin-top: 24px;
  display: block;
}
.rule-list .title span:before,.rule-list .title span:after{
  content: '';
  position: absolute;
  top: 0;
  width: 50vw;
  height: 50%;
  border-bottom:0.5px solid #dddce0;
}
.rule-list .title span:before{
  left: 0;
  -webkit-transform: translateX(-100%);transform: translateX(-100%);
}
.rule-list .title span:after{
  right: 0;
  -webkit-transform: translateX(100%);transform: translateX(100%);
}

.product footer{
  padding:16px;
  text-align: center;
  color: #8a8a8f;
  font-size: 12px;
}
/*历史记录*/
.record{
  min-height: 100vh;
  background: #f7f7fa;
}
.record-list{
  color: #000;
  display: block;
}
.record-list .date{
  padding:8px 16px;
}
.record-list .content{
  background: #fff;
  padding:16px 32px 24px;
}
.record-list .content li{
  margin-top:8px;
}
.record-list .contract-detail{
  color: #8a8a8f;
  margin-top: 16px;
}
.record-list .contract-detail span{
  vertical-align: middle;
}
.record-list .contract-detail img{
  margin-left: 5px;
  vertical-align: middle;
}
/*邀请好友*/
.dropdown-content{
  top: 40px!important;
  left: -14px!important;
}
.mds-nav{
  padding:8px 16px;
}
.mds-nav span{
  font-size: 20px;
  color: #2c363f;
  padding-left: 6px;
}
.mds-nav img,.mds-nav span{
  vertical-align: middle;
}
.select-wrapper input.select-dropdown{
  color: #607d8b;
  height: 32px;
  width: 70px;
  line-height: 32px;
  border: none;
  text-align: right;
  padding-right: 15px;
}
.select-wrapper span.caret{
  color: #607d8b;
  right: 0;
}
.invite1{
  min-height: 100vh;
}
.bgf7{
  background: #f7f7fa!important;
}
.invite1>img{
  display: block;
}
.invite1 .invite-top{
  position: relative;
}
.invite1 .invite-top img{
  display: block;
}
.invite1 .invite-top-text {
  position: absolute;
  bottom: 46px;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  line-height: 20px;
  font-size: 12px;
  padding: 0 16px;
}
.invite-top-text h4{
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 2px;
}
.invite1-content{
  padding:0 16px;
}
.invite1 .gains{
  position: relative;
  top:-24px;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.08);
  padding:24px 10px;
  text-align: center;
  margin-bottom: 0;
}
.invite1 .gains li{
  float: left;
  width: 50%;
  position: relative;
}
.invite1 .gains li:first-child:after,.invite-copy li:first-child:after{
  content: "";
  width: 100%;
  height: 100%;
  border-right: 0.5px solid #dddce0;
  position: absolute;
  left: 0;
  top: 0;
}
.invite1 .gains h4,.invite-copy h4{
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
.invite1 .gains p,.invite-copy p{
  font-size: 20px;
  color:#ff9500;
  font-weight: 500;
  line-height: 24px;
  margin-top: 4px;
  word-break: break-all;
}
.invite-copy {
  padding:24px 16px;
  background: #fff;
  text-align: center;
  margin-bottom: 24px;
}
.invite-copy li{
  float: left;
  width: 50%;
  position: relative;
}
.invite-copy .invite-btn{
  margin-top: 24px;
  background:#ff9500!important;
}
.invite-candyBtn {
  padding:12px 16px;
  background: #fff;
  text-align: center;
  margin-bottom: 24px;
}
.invite-candyBtn .getCandy{
  margin-top: 12px;
  background:#ff9500!important;
}
/*转账超时保障*/
.product14 .gains li:first-child:after{
  display: none;
}
.product14 .gains p{
  color:#ff2d55;
}
.product14 .gains p span{
  font-size: 12px;
}
.invite1 .gains h4:nth-of-type(2){
  margin-top: 16px;
}
.invite1 .invite-box{
  margin-bottom: 24px;
}
.invite1 .invite-box img,.invite1 .invite-box span{
  vertical-align: middle;
}
.invite1 .invite-code{
  border-radius:12px;
  padding: 16px 24px;
  display: block;
  background: url(../img/invite/bg.png) no-repeat left center/cover;
  color: #fff;
  font-weight: 500;
  margin-bottom: 24px;
}
.invite1 .invite-code img{
  vertical-align: middle;
}
.invite1 .rule-list{
  padding-top: 8px;
}
.rule-list ul{
  margin-top: 24px;
  color: #8a8a8f;
  padding-left: 16px;
}
.rule-list ul li{
  font-size: 12px;
  line-height: 20px;
  list-style:disc;
  margin-bottom: 8px;
}
.invite1 .joinIndem-nav nav{
  box-shadow: none;
}
.invite1 .invite-btn{
  display: block;
  width: 100%;
  color: #fff;
  background:#ff2d55;
  border-radius: 12px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-weight: 500;
}
.bgf7.invite1 .joinIndem-nav nav{
  background:#f7f7fa;
}
.bgf7.invite1 .invite-btn{
  background:#5ac8fa;
}
.invite1 form.gains{
  padding:16px 12px;
}
.invite1 form.gains .tel{
  position: absolute;
  left: 12px;
  top: 16px;
  font-size: 16px;
  color: #2c363f;
}
.gains input[type=text]{
  height: 32px;
  line-height: 20px;
  font-size: 16px;
  padding-bottom: 12px;
  border-bottom: 0.5px solid #dddce0!important;
  text-align: center;
}
.gains button{
  margin-top: 12px!important;
  width:100%;
  background:#ff2d55;
  height: 44px;
  line-height: 44px;
  border-radius: 12px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.gains .skip{
  color: #ff2d55;
  font-size: 16px;
  display: inline-block;
  padding-top: 16px;
}
.invite-desc{
  padding:8px 0 32px;
  color: #607d8b;
  line-height: 20px;
  margin-top: 8px!important;
}
.invite-desc li{
  padding:24px 8px;
  list-style: none!important;
}
.invite-desc .left{
  padding-right: 24px;
}
.invite-desc .content{
  overflow: hidden;
}
.invite-desc h4{
  font-size: 20px;
  line-height: 24px;
  color:#2c363f;
  margin:4px 0 8px;
}
.invite1 .copyright{
  text-align: center;
  height: 48px;
  line-height: 48px;
  background:#f7f7fa;
  font-size: 12px;
  color:#8a8a8f;
}
#modalInstall{
  border-radius:12px;
  top:45%!important;
  -webkit-transform: translate3d(0,-50%,0)!important;transform: translate3d(0,-50%,0)!important;
  width: 92%;
}
#modalInstall .modal-content{
  padding:16px 12px;
}
#modalInstall h4{
  color: #ff9500;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  padding-top: 24px;
  border-top: 0.5px solid #dddce0;
}
#modalInstall h5{
  color: #ff9500;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}
#modalInstall .copy-container {
  background: #f7f7fa;
  padding: 12px;
  border-radius: 12px;
  text-align: left;
  margin-bottom: 16px;
  word-break: break-all;
}
#modalInstall #copyBtn{
  display: block;
  text-align: center;
  margin-top: 12px;
}
#modalInstall p{
  color: #8a8a8f;
  margin:32px 0 16px;
}
#modalInstall .invite-install{
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  color: #fff;
  border-radius: 12px;
  background:#ff2d55;
  font-weight: 500;
}
/*EOS 账户邀请码*/
.inviteCode-list{
  padding:16px 14px 0;
  text-align: left;
  font-weight: 500;
}
.inviteCode-list h3{
  line-height: 40px;
  font-size:20px;
  color: #ff9500;
}
.inviteCode-list .copy,.inviteCode-list .invalid{
  float: right;
  width: 60px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius:12px;
  font-size: 10px;
  color: #fff;
  background: #ff2d55;
  margin-top: 8px;
  cursor: pointer;
}
.inviteCode-list .invalid{
  background: #c8c7cc;
}
/*EOS 账户名抢注*/
.eosname{
  padding:48px 16px;
  background:linear-gradient(to bottom,#adbccc ,#f2f8ff) ;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}
.eosname:after{
  content: '';
  position: absolute;
  top: 16px;
  right: 0;
  width: 264px;
  height: 380px;
  background:url(../img/eos/EOS_W.png) no-repeat  right top /264px;
  opacity: 0.2;
  z-index: -1;
}
.eosname .eos-qa li{
  padding:0 0 24px 28px;
  background: url(../img/eos/EOS_B.png) no-repeat left top/20px;
}
.eosname .eos-qa h4{
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}
.eosname .eos-qa p{
  font-size: 12px;
  line-height: 20px;
  word-break: break-word;
}
.eosname .card{
  padding:12px 24px 24px;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.08);
}
.eosname input[type=text].username{
  padding:10px 0;
  width: calc(100% - 38px);
  border-bottom:0.5px solid #dddce0!important;
  font-size: 16px;
  line-height: 24px;
  height: 44px;
}
.eosname .eos-add{
  background: transparent;
  padding:6px 0 6px 6px;
}
.eosname .name-list{
  padding:12px 0;
}
.eosname .name-list li{
  padding:6px 0;
}
.eosname .name-list .remove{
  cursor: pointer;
}
.eosname .name-list .name{
  font-size: 16px;
  line-height: 24px;
  padding:4px 0;
}
.eos-btn{
  width: 100%;
  height: 44px;
  line-height: 44px;
  color: #fff;
  border-radius: 12px;
  background:#007aff!important;
}
.eosname .rule-content{
  padding-top: 12px;
}
.eosname .rule-content p{
  margin-top: 12px;
  line-height: 24px;
}
.eosname .how{
  display: block;
  text-align: center;
  padding: 10px;
}
.how span,.how img{
  vertical-align: middle;
}
/*小于12位EOS账户名竞拍*/
.eosname .bid{
  margin-bottom: 48px;
}
.eosname .search{
  padding:6px 24px;
  margin-bottom: 8px;
}
.eosname .search img{
  display: block;
}
.eosname .search input[type=text].username{
  border: none!important;
  font-size: 20px;
}
.eosname .participate{
  padding:16px 24px;
  margin: 0;
}
.bid-result{
  line-height: 16px;
  color: #8a8a8f;
  font-size: 12px;
  padding: 4px 0;
}
.bid-price{
  padding:8px 0;
  line-height: 24px;
  color: #000;
  border-top: 0.5px solid #dddce0;
  border-bottom: 0.5px solid #dddce0;
  margin-top: 16px;
}
.bid-price input[type].price-number{
  font-size: 20px;
  height: 24px;
  width:calc(100% - 50px);
  border: none!important;
  padding: 0;
}
.bid-btn{
  margin-top: 16px;
}
.max-bid-account{
  margin:8px 0 16px;
  line-height: 24px;
  font-size: 12px;
}
.max-bid-account .bid-title{
  margin-right: 16px;
  width: 106px;
  display: inline-block;
}
.eosname .yas-card{
  margin-bottom: 0;
}
.eosname .yas_tip{
  padding: 8px 14px;
  font-size: 12px;
  line-height: 20px;
  color: rgba(0,0,0,0.5);
}
.eosname .yas_tip h4{
  font-size: 14px;
  font-weight: 500;
  margin:8px 0;
}

.eosname .yas_tip li{
  list-style: disc;
  margin-left: 20px;
}

.participate,
.eosname .bid-price,
.eosname .max-bid-account,
.eos-btn1,
.eos-btn2,
.eos-btn3,
.eos-btn4{
  display: none;
}
/*竞拍记录*/
.bid-record{
  background: linear-gradient(to bottom,#adbccc,#f2f8ff);
  min-height: 100vh;
  padding:24px 16px;
}
.bid-record .card{
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.08);
  margin-bottom: 8px;
  padding:16px 24px;
}
.bid-record .card-top{
  padding-bottom: 16px;
  border-bottom: 0.5px solid #d8d8d8;
  line-height: 24px;
  color:#007aff;
  font-size: 20px;
}
.bid-record .bid-btn{
  padding:4px 16px;
  font-size: 12px;
  line-height: 16px;
  border: 0.5px solid #dddce0;
  border-radius: 8px;
  color:#007aff;
  margin: 0;
}
.bid-record .increase-btn{
  background: #007aff;
  color: #fff;
  border: none;
}
.bid-record .success-btn{
  color: #ff9500;
}
.bid-record .failed-btn{
  color:#ff3b30;
}
.bid-record .max-bid-account{
  margin:16px 0 0;
}
#increase_bid .modal-content{
  padding:16px 24px;
}
#increase_bid h6{
  font-size:12px;
  line-height: 24px;
  color: #8a8a8f;
}
#increase_bid .eos-btn{
  margin-top: 16px!important;
}
.eosname .bid-rank{
  padding:8px 24px;
  line-height: 36px;
}
.bid-rank .bid-title{
  color: #8a8a8f;
  border-bottom: 0.5px solid #dddce0;
}
.bid-rank li{
  color: #007aff;
}
.bid-rank li .right{
  color:#8a8a8f;
}
/*EOS账户名*/
.bid .bid-card{
  padding:24px;
  line-height: 24px;
  font-size: 20px;
  color: #000;
  display: block;
  position: relative;
  margin:0 0 8px;
}
.bid .bid-card .i18n{
  margin-left: 16px;
  overflow: hidden;
  padding:0 20px;
  background: url(../img/forward_grey@2x.png) no-repeat center right/24px;
}
.bid .bid-card .start{
  position: absolute;
  left: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);transform: translateY(-50%);
}
.eosname #bid{
  padding:16px 24px;
}
.eosname .list-name{
  font-size: 12px;
  padding:12px 0 8px;
  color:#8a8a8f;
}
.eosname input[type]{
  height: 32px;
  padding-bottom: 12px;
  line-height: 20px;
  font-size: 16px;
  border-bottom: 0.5px solid #dddce0!important;
}
.eosname .clearfix li{
  float: left;
  width: 30%;
  margin-right: 5%;
}
.eosname .clearfix li:last-of-type{
  margin-right: 0;
}
.eosname .advanced{
  display: none;
}
.eosname .advanced-set{
  padding: 16px;
  text-align: right;
  color: #c8c7cc;
  font-size: 12px;
  background: url(../img/icon/downward_grey.png)no-repeat right center/16px;
}
.eosname .up{
  background: url(../img/icon/upward_grey.png)no-repeat right center/16px;
}
.eosname .create {
  color: #fff;
  display: block;
  width: 100%;
  border-radius: 12px;
  background: #007aff!important;
  height: 44px!important;
  line-height: 44px!important;
  font-size: 16px;
}
.eosname .yas_create{
  margin-top: 16px!important;
}
.eosname .success-card{
  padding:16px 24px;
  color:#007aff;
  line-height: 24px;
  margin-bottom: 8px;
}
.eosname .create-success{
  padding:16px 24px;
  margin: 0;
}
.eosname .create-success ul{
  border-bottom: 0.5px solid #dddce0;
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.eosname .create-success li{
  padding:8px 0;
  word-wrap: break-word;
}
.eosname .create-success .left{
  width: 55px;
  margin-right: 17px;
  color:#8a8a8f;
}
.eosname .create-success li div{
  overflow: hidden;
}
.eosname .scan-download p{
  margin-top: 8px;
  font-size: 12px;
}
/*批量创建12位账户名*/
.eosname .top-title{
  text-align: center;
}
.eosname .top-title h4{
  font-size: 20px;
  line-height: 24px;
}
.eosname .top-title a{
  margin: 12px 0 24px;
  display: inline-block;
}
ul.publickey-tip{
  margin-top: 16px;
  padding-left: 16px;
}
ul.publickey-tip>li{
  width: 100%;
  float: none;
  color:#8a8a8f;
  font-size: 12px;
  list-style: disc;
  margin-top: 10px;
}
.add-account{
  display: block;
  font-size: 12px;
  padding: 16px 0;
  border-bottom: 0.5px solid #dddce0;
  margin-bottom: 16px;
  cursor: pointer;
}
.add-account span,.add-account img{
  vertical-align: middle;
  margin-right: 4px;
}
.addAccount li:last-of-type{
  display: none;
}
.eosname input[type]:disabled{
  color: #000;
}
#modalKey.bottom-sheet{
  max-height: 70%;
}
#modalKey .modal-content{
  padding: 16px;
}
#modalKey h4{
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 32px;
}
#modalKey .list-name{
  color: #8a8a8f;
  font-size: 12px;
}
.copy-container{
  background:#f7f7fa;
  border-radius: 12px;
  padding: 16px 64px 16px 16px;
  position: relative;
  margin: 12px 0 24px;
  word-wrap: break-word;
}
.copy-container .copy{
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);transform: translateY(-50%);
  font-size: 16px;
  line-height: 20px;
}
#modalKey .backup{
  display: block;
  border-radius: 12px;
  background: #007aff;
  color: #fff;
  text-align: center;
  line-height: 44px
}
/*错误页面*/
.error{
  background: #fff;
  min-height: 100vh;
  text-align: center;
  position: relative;
  color: #c8c7cc;
  font-size: 16px;
  line-height: 20px;
  padding-top: 160px;
}
.error a{
  display: inline-block;
  background: #5ac8fa;
  color: #fff;
  border-radius: 12px;
  margin-top: 24px;
  padding:10px 24px;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
/*EOS 节点投票*/
.vote1{
  color: #fff;
  background-color:#607d8b;
  background-image: linear-gradient(to top, rgba(255,255,255,0.3), rgba(0,0,0,0.3));
  min-height: 100vh;
}
.vote1 .part{
  font-size: 12px;
  padding:24px 16px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.vote1 .part2,.vote1 .part3{
  width:50%;
  float: left;
}
.vote1 .part3{
  border-left: 1px solid rgba(255,255,255,0.1);
}
.vote1 .part4,.vote1 .v-btn{
  border: none;
}
.v-title{
  color: rgba(255,255,255,0.5);
  margin-bottom: 3px;
}
.v-number{
  height: 20px;
  white-space: nowrap;
  overflow: auto;
}
.vote1 .part4 .v-number{
  height: 40px;
}
.v-eos{
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  word-wrap: break-word;
}
.part4 .right{
  margin-top: 3px;
}
.vote1 .v-btn>a{
  width:96px;
  height: 32px;
  display: inline-block;
  margin-left: 12px;
  border-radius:16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  text-align: center;
}
.vote1 .reset{
  background:rgba(0,0,0,0.1);
}
.vote1 .save{
  background: #5ac8fa;
}
.vote1 .range{
  position: relative;
  padding-top:35px;
}
.vote1 .noUi-target{
  background:rgba(0,0,0,0.1);
  height: 4px;
  border-radius: 2px;
}
.vote1 .noUi-connect{
  background: #fff;
  border-radius: 2px;
}
.vote1 .noUi-handle-lower{
  display: none;
}
.vote1 .noUi-horizontal .noUi-handle,.vote1 .noUi-target .noUi-active.noUi-handle{
  background: #fff;
  width: 24px;
  height: 24px;
  left: -12px;
  top: -10px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.32);
}
.vote1 .noUi-target.noUi-horizontal .noUi-tooltip{
  display: none;
}
.vote2{
  padding-top: 123px;
}
.vote2 .top{
  background: linear-gradient(to bottom,#435761,#8fa3ad);
  padding: 24px 16px;
  color: #fff;
  position: fixed;
  width:100%;
  max-width:640px;
  top: 0;
  z-index: 100;
}
.vote2 .v-number{
  height: 20px;
}
.vote2 .cancel{
  position: fixed;
  right: 16px;
  top: 87px;
  line-height: 36px;
  color: #5ac8fa;
  font-size: 12px;
  z-index: 800;
  cursor: pointer;
}
.dataTables_wrapper{
  padding:0 16px;
}
#eos thead{
  display: none;
}
.vote2 td{
  padding:16px 64px 16px 0;
  border-top: 0.5px solid #dddce0;
  background:url(../img/icon/unchecked_blue.png) no-repeat right center/ 26px;
}
#eos .dataTables_empty{
  background: transparent;
}
.vote2 .selected{
  background:url(../img/icon/checked_blue.png) no-repeat right center/ 26px;
}
.vote2 .node-name{
  font-size: 16px;
  color: #000;
  font-weight: 500;
  line-height: 20px;
}
.vote2 .node-location{
  color: #8a8a8f;
  font-size: 12px;
  line-height: 20px;
  padding-left: 10px;
  font-weight: 400;
}
.vote2 .node-location img{
  vertical-align: text-bottom;
  margin-right: 4px;
}
.vote2 .node-slogan{
  color: #8a8a8f;
  font-size: 12px;
  margin:4px 0 8px;
}
.vote2 .node-vote{
  font-size: 12px;
}
.dataTables_wrapper .dataTables_filter{
  position: fixed;
  top: 87px;
  width: calc(100% - 32px);
  max-width: 608px;
  background: #fff;
  z-index: 100;
  border-bottom: 0.5px solid #dddce0;
}
.dataTables_wrapper .dataTables_filter input{
  height: 36px;
  font-size: 12px;
  padding-left: 20px;
  background: url(../img/icon/search.png) no-repeat left center/ 16px;
}
.dataTables_info{
  display: none;
}
.eos-bottom,.eos-bottom nav{
  height: 49px;
}
.eos-bottom nav{
  padding:0 16px;
  bottom: 0;
  background: #fff;
  box-shadow: none;
  -webkit-box-shadow:none;
}
.eos-bottom .vote-selected{
  color: #5ac8fa;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.eos-bottom .vote-optional{
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  color:#8a8a8f;
}
.eos-bottom .right{
  width: 96px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 16px;
  background: #5ac8fa;
  display: inline-block;
  color: #fff;
}
.eos-bottom  .more-unfold{
  position: absolute;
  top: 8px;
  left: 93px;
}
.bottom-contain{
  padding:7.5px 0;
  border-top: 0.5px solid #dddce0;
}
#modal-selected {
  max-height: 70%;
}
#modal-selected .modal-footer{
  background: #fff;
  height: 49px;
  padding:0 16px;
  text-align: left;
  border: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 640px;
  margin: auto;

}
.vote2 .modal-content{
  padding:0 16px 49px;
}
#modal-selected .node-name{
  height: 52px;
  line-height: 52px;
  background:url(../img/icon/checked_blue.png) no-repeat right center/ 26px;
  border-bottom: 0.5px solid #dddce0;
}
#modal-selected .unselected{
  background:url(../img/icon/unchecked_blue.png) no-repeat right center/ 26px;
}
#modal-selected .node-name:last-of-type{
  border: none;
}
/*购买内存*/
.ram-amount{
  position: relative;
  overflow: hidden;
  margin:4px 0 16px;
}
.ram-amount span{
  position: absolute;
  right: 24px;
  top: 0;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
}
.ram-amount input[type]{
  background-color: rgba(0,0,0,0.1);
  border-radius: 24px;
  padding:14px 24px;
  font-size: 16px;
  line-height: 20px;
  height: 48px;
}
.ram-btn{
  float: right;
  background: #5ac8fa!important;
  border-radius: 24px;
  width: 80px;
  height: 48px;
  font-size: 16px;
  margin: 4px 0 16px 8px!important;
}
/*eos交易详情*/
.transaction{
  background: #f7f7fa;
  min-height: 100vh;
}
.transa-top,.transa-bottom{
  background: #fff;
}
.transa-top{
  padding-top: 16px;
}
.transaction .transa-type{
  margin:0 0 16px;
  display: inline-block;
  background: #5ac8fa;
  padding:4px 8px;
  color: #fff;
  border-radius:6px;
}
.transa-bottom{
  margin-top: 24px;
  border-top:0.5px solid #dddce0;
}
.transaction .transa-list{
  padding:0 16px;
  border-bottom: 0.5px solid #dddce0;
}
.transaction .transa-list li{
  padding:12px 0 12px 86px;
  color: #000;
  font-size: 14px;
  position: relative;
  word-wrap: break-word;
  border-bottom: 0.5px solid #dddce0;
}
.transaction .transa-list li:last-of-type{
  border-bottom: none;
}
.transaction .transa-list .title{
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #8a8a8f;
}
/*为他人抵押*/
.vote1 .resource-list{
  padding:32px 16px 0;
}
.resource-list .list-title{
  font-weight: 500;
  font-size: 11px;
  padding-bottom: 16px;
}
.resource-list li a{
  display: block;
  background: rgba(0,0,0,0.1) url(../img/icon/bandwidth_teal_blue.png)no-repeat 24px center/24px;
  border-radius: 24px;
  padding: 14px 0 14px 64px;
  font-size: 16px;
  color: #5ac8fa;
  line-height: 20px;
  margin-bottom: 8px;
}
.rex li a{
  background: rgba(0,0,0,0.1) url(../img/icon/exchange_blue.png)no-repeat 24px center/24px;
}
.ram li a{
  background: rgba(0,0,0,0.1) url(../img/icon/memory_teal_blue.png)no-repeat 24px center/24px;
}
.vote1 .part4-title {
  text-align: center;
  color: rgba(255,255,255,0.5);
}
.vote1 .part4 .ram-amount{
  margin:8px 0 24px;
}
.vote1 .check-box{
  text-align: center;
  color:rgba(255,255,255,0.5);
}
.vote1 .check-box .uncheck{
  padding-left: 28px;
  background: url(../img/icon/check_grey.png)no-repeat left center/20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  cursor: pointer;
}
.vote1 .check-box .uncheck:first-of-type{
  margin-right: 24px;
}
.vote1 .check-box .checked{
  color:#5ac8fa;
  background: url(../img/icon/checked_teal_blue.png)no-repeat left center/20px;
}
.vote1 .check-box .ram-btn{
  float: none;
  margin-top: 24px!important;
  width: 102px;
  color: #fff;
}
.ram-amount #account{
  background: rgba(0,0,0,0.1) url(../img/icon/downward_grey.png) no-repeat 93% center /16px!important;
  border: none;
  border-radius: 24px;
  padding: 14px 24px;
  font-size: 16px;
  line-height: 20px;
  height: 48px;
  display: block;
  -webkit-appearance:none;
}
/*提现*/
.withdraw{
  padding:24px 16px;
}
.withdraw .my-candy p{
  line-height: 21px;
  margin-top: 16px;
}
.withdraw .candy-number{
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  padding-bottom: 24px;
  border-bottom: 0.5px solid #dddce0;
}
.withdraw input[type]{
  margin-top: 32px!important;
  background: #f7f7fa;
  border-radius: 12px;
  height: 48px;
  padding: 12px;
  font-size: 20px;
  line-height: 24px;
}
.withdraw .withdraw-btn{
  width: 100%;
  border-radius: 12px;
  background:#5ac8fa;
  color: #fff;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  margin-top: 32px!important;
}
.withdraw .withdraw-tip{
  margin-top: 32px;
  font-size: 12px;
  color: #8a8a8f;
  padding-left: 20px;
}
.withdraw .withdraw-tip li{
  list-style: disc;
  margin-bottom: 5px;
}
/*dapp 浏览器*/
.browser{
  padding:48px 16px;
  background:#2c363f;
}
.browser .addr-contain{
  position: relative;
}
.browser input[type]{
  font-size: 20px;
  padding:16px 56px 16px 16px;
  background: #fff;
  border-radius:12px;
  line-height: 24px;
  height: 56px;
}
.browser .go{
  position: absolute;
  right: 0;
  top: 0;
  padding:12px;
  background: #fff;
  z-index: 100;
  border-radius: 0 12px 12px 0;
}
.browser .go img{
  display: block;
}
.browser-record{
  position: relative;
  padding:0 16px 10px;
  overflow: auto;
  word-break: break-all;
  height: calc(100vh - 380px);
}
.browser-record li a{
  display: block;
  padding:16px 0;
  border-bottom: 0.5px solid #dddce0;
  padding-left: 26px;
  background: url(../img/icon/url_recent.png)no-repeat left center/16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hot-list  li a{
  background: url(../img/icon/url_hot.png)no-repeat left center/16px;
}
.browser-record .clear{
  padding:16px 0;
  color:#c8c7cc;
  cursor: pointer;
}
.browser-record .clear span,.browser-record .clear img{
  vertical-align: middle;
  margin-right: 8px;
}
.know-more{
  position: fixed;
  left: 16px;
  right: 16px;
  bottom: 16px;
  border-radius: 12px;
  background:#e6f6ff;
  padding:0 16px;
  max-width: 640px;
  margin: auto;
}
.know-more .api{
  overflow: hidden;
  padding:16px 0 12px 24px;
  font-size: 12px;
}
.know-more .api p{
  font-size: 14px;
  color: #000;
  margin-bottom: 4px;
}
.know-more .api span,.know-more .api img{
  vertical-align: middle;
}
/*rex*/
.rex-top{
  background:#2c363f;
}
.color-4c{
  color: #4cd964;
}
.rex-subtitle{
  font-weight: 500;
  padding: 7px 0;
}
.ram-btn{
  background:#4cd964!important;
  margin-top: 8px!important;
}
.rex .sell{
  background:#ff3b30!important;
}
.rex .ram-amount span{
  font-size: 12px;
}
.rex .equal{
  padding:4px 16px 0;
  color:rgba(255,255,255,0.5);
}
.rex .check-box{
  text-align:left;
  padding:0 16px;
  border-radius:24px;
  background:rgba(0,0,0,0.1);
  margin: 8px 0 24px;
}
.rex .check-box .uncheck{
  width: 49%;
  padding:17px 0 17px 28px;
  height: 48px;
  line-height: 14px;
  margin: 0!important;
  cursor: pointer;
}
.rent-btn {
  background: #5ac8fa!important;
  border-radius: 24px;
  padding:0 24px;
  height: 48px;
  font-size: 16px;
  margin: 8px 0!important;
}
.payment-eos{
  color: #5ac8fa;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}
/* 原力发token */
.eosforce-token {
  background: rgb(247,247,250);
}
.eosforce-token .success-card {
  padding: 24px;
  font-size: 20px;
  color: #5ac8fa;
}
.eosforce-token .card ul li {
  margin-top: 24px;
}
.eosforce-token .card ul li:first-child {
  margin-top: 12px;
}
.eosforce-token .card ul li .title {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
  color: rgb(138,138,143);
}
.eosforce-token .card ul li .content {
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
.eosforce-token .publish-submit
{
  padding:24px 0 0;
}
/* eos bank */
.bank .transaction {
  background-color: #fff;
}
.bank .transaction .transa-list {
  padding: 0 24px;
  border-bottom: none;
}
.bank .transaction .transa-list li {
  padding: 10px 0 10px 70px;
  border-bottom: none;
}
.bank .transaction .transa-list .title {
  color: #000;
}
.bank .confirm {
  font-size: 12px;
  color:#8a8a8f;
  margin-bottom:12px;
}
.bank .confirm + div {
  font-size: 12px;
}
.color-5ac{
  color: #5ac8fa;
}
.bank .transaction {
  min-height: 0;
}
.bank .july .july-submit {
  padding-top: 44px;
}
.bank input[type] {
  border: none !important;
  background: rgb(247,247,250)!important;
  border-radius: 8px;
  padding: 0.8rem 0.8rem !important;
  height: 40px !important;
}
.bank select {
  width: 38%;
  border: none;
  background: rgb(247,247,250);
  border-radius: 8px;
  padding: 0.8rem;
  height: 40px;
  background-image: url(../img/icon/guide@2x.png);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 85% 58%;
  -webkit-appearance: none;
}
.bank .add {
  display: inline-block;
  border-radius: 8px;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  background-color: rgb(90,200,250);
  color: #fff;
  cursor: pointer;
}
/*引导下载*/
.mobile-header{
  padding: 8px 12px;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  background: #fff;
  display: none;
  position: relative;
  z-index: 2000;
}
.mobile-header .head-logo{
  font:500 18px/24px PingFangSC-Medium;
}
.mobile-header img{
  margin-right: 2px;
}
.mobile-header .head-btn{
  padding: 4px 12px;
  border-radius:14px;
  border: 1px solid #007aff;
  font:500 12px/16px SFProText-Medium;
  cursor: pointer;
}
.mobile-header span,.mobile-header img{
  vertical-align: middle;
}

/*iPhone X*/
@media only screen and (device-width: 375px) and (device-height: 812px) and
(-webkit-device-pixel-ratio: 3){
  .joinIndem-convention{
    padding-bottom: 80px;
  }
  .joinIndem-nav{
    height:94px;
  }
  .joinIndem-nav nav{
    padding-bottom:34px;
  }
  .invite1 .copyright{
    box-sizing: content-box;
    padding-bottom: 34px;
  }
  .eos-bottom,.eos-bottom nav,#modal-selected .modal-footer{
    height: 82px;
  }
  .vote2 .modal-content{
    padding:0 16px 82px;
  }
  .know-more{
    bottom: 34px;
  }
  #modalKey .modal-content{
    padding-bottom: 34px;
  }
}
@media (device-height: 896px){
  .joinIndem-convention{
    padding-bottom: 80px;
  }
  .joinIndem-nav{
    height:94px;
  }
  .joinIndem-nav nav{
    padding-bottom:34px;
  }
  .invite1 .copyright{
    box-sizing: content-box;
    padding-bottom: 34px;
  }
  .eos-bottom,.eos-bottom nav,#modal-selected .modal-footer{
    height: 82px;
  }
  .vote2 .modal-content{
    padding:0 16px 82px;
  }
  .know-more{
    bottom: 34px;
  }
  #modalKey .modal-content{
    padding-bottom: 34px;
  }
}
@media only screen and (min-width: 375px) {
  .vote2 td{
    border-top: 0.75px solid #dddce0;
  }
}
@media only screen and (max-width: 992px){
  .indem .tabs .tab a{
    padding:0 24px 0 0;
  }
  .indem .tabs li:nth-last-of-type(2) a{
    padding:0;
  }

}

#toast-container{
  padding: 0 16px;
  bottom: auto;
  text-align: center;
  max-width: 420px;
  left: 0;
  right: 0;
  margin:0 auto;
  top: 45%;
}
.toast{
  border-radius: 12px;
  display: inline-block;
  width: auto!important;
}
.input-group{
  position: relative;
}
.input-group input[type] {
  background: #f7f7fa;
  padding: 12px 40px 12px 12px;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 6px;
}
.input-group span {
  position: absolute;
  line-height: 48px;
  top: 0;
  right: 12px;
  font-size: 12px;
}
.start_notice{
  display:flex;
  justify-content: space-between;
  padding-top: 16px;
  margin-top: 24px;
  border-top: 0.5px solid #efeff4;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
}
.start_notice .notice{
  height: 24px;
  padding: 0 12px;
  color: #fff;
  border-radius:12px;
  background:#ff2d55;
  cursor: pointer;
}
.start_notice .notice.opacity{
  background: #f7f7fa;
  color:#c8c7cc;
}
@media only screen and (max-width: 600px){
  .mobile-header{
    display:-webkit-box;  /* iOS 6-, Safari 3.1-6 */
    display:-webkit-flex; /* Chrome */
    display:-moz-box;     /* Firefox 19 */
    display:-ms-flexbox;
    display:flex;  /*flex容器*/
  }
}
