[v-cloak]{
	display: none;
}
.iris{
	min-height: 100vh;
	background: linear-gradient(to bottom,#adbccc,#f2f8ff);
	overflow-x: hidden;
}
img,span{
	vertical-align: middle;
	word-wrap: break-word;
}
.iris .top{
	background:#2c363f;
	padding: 16px 16px 56px;
	color: #fff;
	margin-bottom: -24px;
}
.iris .stake-top{
	padding: 24px 32px 48px;
}
.s-title{
	color: rgba(255,255,255,0.5);
	font-size: 12px;
	line-height: 16px;
}
.s-number{
	font-size: 16px;
	line-height: 24px;
}
.iris-info{
	padding: 0 16px 34px;
}
.card{
	margin-bottom: 12px;
}
.iris-info .iris-operation{
	padding:12px 16px;
}
.iris-operation li:first-child{
	border-right:0.5px solid #efeff4;
}
.iris-operation a{
	display: block;
	padding: 4px 0;
	line-height: 16px;
	font-size: 14px;
	color: #007aff;
	margin-top: 28px;
}
.iris-operation li a:first-child{
	margin: 0;
}
.iris-operation .withdraw{
	color: #ff9500;
}
.row li:nth-of-type(2){
	padding-left:16px;
}
.iris-operation span{
	margin-left:4px;
}
.iris-info .stake-list a{
	padding: 16px;
	display: block;
	color: #000;
}
.stake-list h4{
	font-size:14px;
	line-height: 20px;
	margin-bottom: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.stake-list .s-title{
	color: #8a8a8f;
}
.stake-list .undelegating{
	border-top: 0.5px solid #efeff4;
	padding-top: 16px;
	margin-top: 16px;
	position: relative;
}
.stake-list .undelegating .s-number{
	color: #ff3b30;
}
.iris-info .list-none img{
	margin-left: 40px;

}
.iris-info .list-none p{
	text-align: center;
	margin-top: 8px;
	font-size: 16px;
	line-height: 24px;
	color:#8a8a8f;
}
/*委托详情*/
ul.validator-intro{
	background: rgba(0,0,0,0.05);
	border-radius: 12px;
	margin:16px 0;
	padding:16px;
}
.validator-intro li{
	padding: 4px 0;
	line-height: 16px;
	font-size:12px;
}
.validator-intro li .left{
	color:#8a8a8f;
	width: 112px;
}
.validator-intro li p{
	overflow: hidden;
	word-break: break-word;
}
.validator-intro .website{
	border-top: 0.5px solid rgba(0,0,0,0.05);
	margin-top: 16px;
	padding-top: 16px;
}
/*validators*/
.validators{
	padding-top: 16px;
}
.validators li{
	padding: 4px 0;
	line-height: 16px;
	font-size: 12px;
}
.validators .recommend,
.validators .noincome{
	color: #fff;
	border-radius: 4px;
	font-size:10px;
	font-weight: 500;
	height: 16px;
	line-height: 16px;
	padding: 0 4px;
	margin-left: 8px;
	display: inline-block;
}
.validators .recommend{
	background: #007aff;
}
.validators .noincome{
	background: #ff3b30;
}
.validators .validator{
	display: inline-block;
	max-width: calc(100% - 64px);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*validatorDetail*/
.validatorDetail .validator-intro{
	background: #fff;
	margin: 0;
}
.validatorDetail .website{
	border-top: 0.5px solid #efeff4;
}
.top h4.title{
	font-size:20px;
	line-height: 24px;
	font-weight: 500;
	margin-bottom: 8px;
	color: #fff;
}
.iris-btn{
	display: block;
	padding: 12px;
	border-radius: 12px;
	background:#007aff;
	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	margin:16px 0;
}
/*addDelegate*/
.iris-form{
	padding:16px 16px 24px;
	font-size: 12px;
}
.iris-form h4{
	font-size:16px;
	line-height: 24px;
	margin-bottom: 8px;
}
.iris-form .form-group{
	font-size:16px;
	position: relative;
}
.iris-form .form-group input{
	padding: 12px 30px 12px 0;
	font-size:20px;
	line-height: 24px;
	border-bottom:1px solid #efeff4!important;
}
.iris-form .form-group input:disabled{
	color: #000;
	opacity: 1;
}
.iris-form .form-group span{
	position: absolute;
	right: 0;
	top: 12px;
	cursor: pointer;
}
.iris-form .right{
	color: #007aff;
	margin-top: 16px;
	cursor: pointer;
}
.iris-form p{
	min-height:16px;
	margin-top: 16px;
}
ul.tips{
	padding-left: 16px;
}
ul.tips li{
	list-style: disc;
	color: #8a8a8f;
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 8px;
}
.select-validator{
	color: #007aff;
	font-size: 12px;
	top: 16px;
	line-height: 16px;
	position: absolute;
	right: 0;
	top: 12px;
}
input[type='text'].search{
	border-radius: 12px;
	padding:16px 16px 16px 36px;
	height: 48px;
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 8px!important;
	background:#fff url(../img/search_grey@2x.png)no-repeat 16px center/16px;
}
.address{
	word-wrap: break-word;
}
.pos-top{
	background:#2c363f;
	padding: 6px;
	text-align: center;
}
.pos-top ul{
	display: inline-block;
	background:#394852;
	border-radius: 18px;
	padding: 2px;
}
.pos-top li{
	float: left;
	border-radius:16px;
	padding: 4px 16px;
	color: #fff;
	cursor: pointer;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	opacity: 0.5;
}
.pos-top li:first-child{
	margin-right: 4px;
}
.pos-top li.active{
	background:#007aff;
	opacity: 1;
}
.pos .pos-top{
	margin-bottom: 12px;
}
.card.node-info{
	margin-top: 12px;
	padding:0 16px;
	line-height: 24px;
	font-size: 16px;
}
.node-info a{
	color: #000;
	padding:16px 0;
	display: block;
	border-bottom: 0.5px solid #efeff4;
	background: url(../../img/forward_grey@2x.png)no-repeat right center/20px;
}
.node-info li:last-child a{
	background: transparent;
}
.node-info .left{
	color: #8a8a8f;
	font-size: 12px;
	line-height: 24px;
	width: 90px;
}
.node-info p{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 24px;
}
.node-info .level{
	font-weight: 900;
	color: #ff9500;
	font-style: italic;
}
.node-info .invite-link{
	padding-right:0;
}
.node-info .copy{
	width: 48px;
	height: 24px;
	display: inline-block;
	border-radius: 12px;
	text-align: center;
	line-height: 24px;
	color: #007aff;
	font-size: 12px;
	background: #efeff4;
}
.pos-list{
	padding: 24px 0 0;
}
.pos-list h4{
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}
.pos-list h4 img{
	margin-right: 6px;
}
.pos-list .s-number{
	font-size: 14px;
}
.pos-list .rate{
	font-size: 16px;
	line-height: 1.5;
	color: #ff9500;
	font-weight: 500;
}
.pos-list h3{
	margin-bottom: 16px;
	font-size: 32px;
	line-height: 1.5;
}
.partner h4{
	color: #8a8a8f;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 12px;
}
.partner .card{
	background: rgba(0,0,0,0.05);
	padding: 16px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
	color: #8a8a8f;
	font-size: 12px;
	line-height: 16px;
	flex-wrap: wrap;
}
.partner .partner-list{
	padding:12px;
}
.partner-list img{
	margin:4px;
}
.community .card{
	justify-content:flex-start;
	cursor: pointer;
}
.community p{
	height: 0;
	opacity: 0;
}
.community .card img{
	margin-right:8px;
}
.pos .top{
	padding: 0;
	height: 40px;
}
.pos .stake-list{
	padding: 0 16px 24px;
}
.pos .card{
	padding: 20px 16px;
}
.pos .pos-list h3.rate{
	font-size: 32px;
}
.timeLine{
	position: relative;
	display: flex;
	justify-content: space-between;
	border-bottom:2px solid #efeff4;
}
.timeLine:after,.timeLine:before{
	content: '';
	position: absolute;
	bottom: -5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 2px solid #c8c7cc;
	background: #fff;
	z-index: 10;
}
.timeLine:before{
	left: 0;
}
.timeLine:after{
	right: 0;
}
.timeLine li{
	position: relative;
	width: 33.3%;
}
.timeLine li:nth-child(2):after{
	content: '';
	position: absolute;
	bottom: -5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 2px solid #c8c7cc;
	background: #fff;
	z-index: 10;
	left: 50%;
}
.timeLine p{
	position: absolute;
	left: 0;
	right: 0;
	top:40px;
}
.timeLine h5{
	font-size:12px;
	line-height: 16px;
	color: #010101;
	padding-bottom: 11px;
}
.timeLine+ul.tips{
	border-top:0.5px solid #efeff4;
	padding-top: 24px;
	margin-top: 50px;
}
.pos .iris-operation{
	padding-top: 12px;
	margin-top: 24px;
	border-top: 0.5px solid #efeff4;
}
.record-tabs{
	display: flex;
}
.record-tabs li{
	margin-right:24px;
	font-size: 12px;
	line-height: 16px;
	color: #8a8a8f;
	cursor: pointer;
}
.record-tabs li.active{
	color: #000;
	font-weight: 500;
}
.record-list li{
	display: flex;
	justify-content:space-between;
	font-size: 12px;
	color: #8a8a8f;
	line-height: 16px;
	padding-top: 16px;
	margin-top: 16px;
	border-top: 0.5px solid #efeff4;
}
.record-list li h5{
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	margin-bottom: 2px;
	color: #000;
	display: block;
}
.record-list .records-null{
	padding: 32px 0 16px;
	text-align: center;
	display: block;
}
.pos .select-wallet{
	padding-bottom: 0;
}
.select-wallet h5{
	font-size: 12px;
	line-height: 16px;
	font-weight: 500;
	margin-bottom: 16px;
}
.select-wallet li{
	background: url(../../img/icon/checkbox_grey.png)no-repeat right center/20px;
	padding: 16px 24px 16px 0;
	border-top: 0.5px solid #efeff4;
	font-size: 12px;
	color: #8a8a8f;
}
.select-wallet li.selected{
	background: url(../../img/icon/choose_only_big@2x.png)no-repeat right center/20px;
}
.select-wallet h4{
	font-size: 14px;
	line-height: 16px;
	color: #000;
	margin-bottom: 4px;
}
.select-wallet li p{
	word-wrap: break-word;
	color: #000;
	margin:4px 0;
}
/* chainx 跨链资产管理 */
.asset.iris .top {
	padding: 20px;
}
.asset.iris .avaliable-balance {
	font-size: 12px;
	line-height: 16px;
	color: rgb(138, 138, 143);
	margin-top: 16px;
}
.asset .receiver-input {
    padding: 12px 30px 12px 0 !important;
    font-size: 20px !important;
    line-height: 24px;
    border-bottom: 1px solid #efeff4!important;
}
.asset .receiver-input:focus {
	border-bottom: 1px solid #efeff4!important;
}
.asset .card {
	margin-bottom: 16px;
}
.opacity {
	opacity: 0.6;
}
.chainx-election .s8 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.unfreeze {
	position: absolute;
	top: 80%;
	transform: translateY(-50%);
	right: 0;
	padding: 4px 12px;
	background: rgb(200,199,204);
	color: #fff;
	border-radius: 12px;
}
.qa .card{
	display: block;
	padding: 24px 16px;
}
.qa li:first-child h3{
	margin-top: 0
}
.qa h3{
	font-size: 12px;
	line-height: 16px;
	font-weight: 600;
	margin:24px 0 8px;
}
.exchange{
	font-size: 12px;
	line-height: 16px;
}
.exchange h4{
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 4px;
}
.exchange li:first-child{
	border-bottom: 0.5px solid #efeff4;;
	padding-bottom:16px;
	margin-bottom: 16px;
}
.exchange .copy-btn{
	color: #007aff;
	margin-top: 4px;
	display: inline-block;
}
.warn-info{
	padding: 12px 16px;
	background:#fff9e6;
	font-size: 12px;
	line-height: 16px;
	word-wrap: break-word;
}
.invite-rank{
	background:linear-gradient(to right,#2c363f,#4a6374);
	color: #fff;
	padding:16px 16px 8px;
	margin-bottom: 24px;
}
.invite-rank a{
	color: #fff;
}
.rank-list{
	display: flex;
	flex-wrap: wrap;
	margin-top: 16px;
}
.rank-list a{
	width: 50%;
	padding: 16px 0;
	border-top: 0.5px solid rgba(255,255,255,0.1);
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	position: relative;
}
.rank-list a span{
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}
.invite-btn{
	background: linear-gradient(to left,#d97700,#ffad29);
	border-radius: 26px;
	padding:8px;
	font-size: 12px;
	line-height: 1;
	cursor: pointer;
	text-align: center;
}
.invite-btn h3{
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 4px;
	font-weight: 500;
}
.node-info.invite-rank{
	padding: 0 16px 16px;
	margin: 24px 0 -12px;
}
.node-info.invite-rank a{
	padding: 16px 20px 16px 0;
	border-bottom:0.5px solid rgba(255,255,255,0.1);
}
.node-info .invite-btn{
	margin-top: 16px;
}
.rank{
	background:rgba(0,0,0,0.1);
	height: 20px;
	line-height: 20px;
	border-radius: 12px;
	padding: 0 8px;
	color: #ff9500;
	font-size: 12px;
	font-weight: 500;
	margin-top: 2px;
}
.total-balance{
	font-size: 16px;
	font-weight: 500;
}
.reinvestment{
	padding:12px 0;
	border-bottom: 0.5px solid rgba(255,255,255,0.1);
}
.reinvestment .left{
	line-height:32px;
	width: auto;
}
/*switch 开关切换*/
.checkbox {
	float: right;
  width: 52px;
  height: 32px;
  background: #fff;
  border-radius: 18px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border:2px solid #efeff4;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.checkbox:after{
	content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  height: 28px;
  border-radius: 50%;
  width: 28px;
  z-index: 2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.checkbox.checked {
  background: #4cd964;
  border-color:#4cd964;
}
.checkbox.checked:after {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}
