
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Stake Secret</title>
  <meta id="i18n_pagename" content="message">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="https://staticcdn1.maiziqianbao.net/img/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="./css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="./css/common.css">
  <script src="./js/jquery-3.2.1.min.js"></script>
  <script src="./js/vue.min.js"></script>
  <script src="./js/common.js"></script>
</head>
<body>
<div class="mds-group">
  <link rel="stylesheet" type="text/css" href="./css/secret.css">
  <section class="iris" v-cloak>
    <ul class="top stake-top row">
      <li class="col s6">
        <p class="s-title i18n" data-properties="iris_delegated" data-ptype="text"></p>
        <!-- 委托总量 -->
        <p class="s-number">{{addCommas(totalShare)}}</p>
      </li>
      <li class="col s6">
        <p class="s-title i18n" data-properties="iris_rewards" data-ptype="text"></p>
        <!-- 待提取总收益 -->
        <p class="s-number">{{distribution.total[0] ? addCommas(distribution.total[0].amount) : '0.0000'}}</p>
      </li>
    </ul>
    <div class="iris-info">
      <ul class="card row iris-operation">
        <li class="col s6">
          <!-- 新增委托 -->
          <a href="./list.html">
            <img src="./img/delegate@2x.png" width="16">
            <span class="i18n" data-properties="iris_new_delegate" data-ptype="text"></span>
          </a>
        </li>
        <li class="col s6">
        </li>
      </ul>
      <div class="stake-list" v-if="stakeList.length>0">
        <!-- list -->
        <a :href="'./detail.html?validator=' + item.validator_address" class="card" v-for="item in stakeList">
          <img src="./img/forward_grey@2x.png" width="20" class="right">
          <h4>
            <span class="i18n" data-properties="iris_delegate" data-ptype="text"></span>
            <span>{{item.validator ? item.validator.description.moniker : ''}}</span>
          </h4>
          <ul class="row">
            <li class="col s6">
              <p class="s-title i18n" data-properties="iris_delegated_amount" data-ptype="text"></p>
              <p class="s-number">
                <!-- 委托量 -->
                {{addCommas(item.balance.amount)}}
              </p>
            </li>
            <li class="col s6">
              <p class="s-title i18n" data-properties="iris_reward_amount" data-ptype="text"></p>
              <p class="s-number">
                <!-- 待领取收益 -->
                {{item.distribution.total ? addCommas(item.distribution.total) : 0}}
              </p>
            </li>
          </ul>
          <div class="undelegating" v-if="item.unbonding">
            <p class="s-title" v-if="getRemainDays(item.unbonding.min_time)>0">
              <span class="i18n" data-properties="iris_undelegating_time1" data-ptype="text"></span>
              <span>{{getRemainDays(item.unbonding.min_time)}}</span>
              <span class="i18n" data-properties="iris_undelegating_time2" data-ptype="text"></span>
            </p>
            <p v-else class="s-title">
              <span class="i18n" data-properties="iris_undelegate" data-ptype="text"></span>
              （<span class="i18n" data-properties="iris_undelegating_time3" data-ptype="text"></span>）
            </p>
            <p class="s-number">
              <!-- {{item.unbonding ? item.unbonding.min_time : '-'}} -->
              {{item.unbonding ? getBalance(item.unbonding.balance,'atom') : ''}}
            </p>
          </div>
        </a>
        <!-- unbonding list -->
        <a :href="'./detail.html?validator=' + item.validator_address" class="card" v-for="item in unbonding">
          <img src="./img/forward_grey@2x.png" width="20" class="right">
          <h4>
            <span class="i18n" data-properties="iris_delegate" data-ptype="text"></span>
            <span>{{item.validator ? item.validator.description.moniker : ''}}</span>
          </h4>
          <ul class="row">
            <li class="col s6">
              <p class="s-title i18n" data-properties="iris_reward_amount" data-ptype="text"></p>
              <p class="s-number">
                <!-- 待领取收益 -->
                {{item.distribution ? addCommas(item.distribution.reward[0].amount) : '0.0000'}}
              </p>
            </li>
          </ul>
          <div class="undelegating">
            <p class="s-title" v-if="item.min_time&&getRemainDays(item.min_time)>0">
              <span class="i18n" data-properties="iris_undelegating_time1" data-ptype="text"></span>
              <span>{{getRemainDays(item.min_time)}}</span>
              <span class="i18n" data-properties="iris_undelegating_time2" data-ptype="text"></span>
            </p>
            <p v-else class="s-title">
              <span class="i18n" data-properties="iris_undelegate" data-ptype="text"></span>
              （<span class="i18n" data-properties="iris_undelegating_time3" data-ptype="text"></span>）
            </p>
            <p class="s-number">
              <!-- 解委托（锁定期约 ** 天后结束） -->
              {{item.balance ? getBalance(item.balance,'atom') : ''}}
            </p>
          </div>
        </a>
      </div>

      <div v-else class="list-none">
        <img src="./img/arrow_grey@2x.png" width="80">
        <p class="i18n" data-properties="iris_list_null" data-ptype="text"></p>
      </div>
    </div>
  </section>
  <script src="./js/bignumber.min.js"></script>
  <script type="text/javascript">
    var pageData = {
      stakeList: [],
      unbonding: [],
      distribution: {
        total : [],
        distributions :[]
      },
      totalShare : 0,
      decimal: 6
    };
    $(function(){
      var vue =new Vue({
        el: '.mds-group',
        data: pageData,
        created () {
          initLang();
        },
        mounted() {
          // language js
          initLang();
        },
        methods:{
          // 数字千分位，保留四位小数格式化
          addCommas:function(nStr){
            return new BigNumber(nStr).toFormat(4);
          },
          getBalance : function(data, token) {
            return parseFloat(data.replace(token,""));
          }
        }
      });

      //初始化插件
      var nodeUrl = "https://secret.maiziqianbao.net";
      var network = {
        blockchain: "secretnetwork",
        chainId: "secret-1"
      };

      initMathExtension().then((res) => {
        return mathExtension.getIdentity(network);
      }).then((identity) => {
        var account = identity.account;
        var provider = mathExtension.httpProvider(nodeUrl);

        provider.get('/staking/delegators/'+account+'/delegations').then((response) => {
          var res = response.result.result;
          var promises = [];
          for(var i = 0; i < res.length; i++){
            let index = i;
            res[index].balance.amount =  new BigNumber(res[index].balance.amount).div(Math.pow(10, pageData.decimal)).toNumber();
            pageData.totalShare = new BigNumber(pageData.totalShare).plus(res[index].balance.amount).toNumber();
            //获取详细信息
            promises[i] = provider.get('/staking/delegators/'+account+'/validators/'+res[index].validator_address);
            promises[i].then(function(response){
              var validator = response.result.result;
              res[index].validator = validator;
              res[index].distribution = {};
            });
          }

          Promise.all(promises).then(() => {
            pageData.stakeList = res;
            //解委托信息
            provider.get('/staking/delegators/'+account+'/unbonding_delegations').then((response) => {
              var unbonding = response.result.result;
              var onlyUnbonding = [];
              if(unbonding){
                for(var i = 0; i < unbonding.length; i++){
                  var found = false;
                  for(var j = 0; j < pageData.stakeList.length; j++){
                    //计算总和
                    var balance = 0;
                    for(var k = 0; k < unbonding[i].entries.length; k++){
                      balance = new BigNumber(balance).plus(unbonding[i].entries[k].balance).toFixed();
                    }
                    unbonding[i].balance = new BigNumber(balance).div(Math.pow(10,pageData.decimal)).toFixed();
                    unbonding[i].min_time = unbonding[i].entries[k-1].completion_time;
                    if(pageData.stakeList[j].validator_address == unbonding[i].validator_address){
                      pageData.stakeList[j].unbonding = unbonding[i];
                      found = true;
                      break;
                    }
                  }
                  if(!found){
                    onlyUnbonding.push(unbonding[i]);
                  }
                }
              }

              var promises = [];
              //获取剩余节点详细信息
              for(var k = 0; k < onlyUnbonding.length; k++){
                let index = k;
                //获取详细信息
                promises[i] = provider.get('/staking/validators/'+onlyUnbonding[index].validator_address);
                promises[i].then(function(response){
                  var validator = response.result.result;
                  onlyUnbonding[index].validator = validator;
                });
              }
              Promise.all(promises).then(() => {
                pageData.unbonding = onlyUnbonding;
              }).then(() => {
                //账户收益
                //总收益
                provider.get('/distribution/delegators/'+account+'/rewards').then((response) => {
                  var distribution = response.result.result.rewards;
                  if(distribution){
                    for(var i = 0; i < distribution.length; i++){
                      distribution[i].amount = new BigNumber(distribution[i].reward[0].amount).div(Math.pow(10, pageData.decimal)).toFixed();
                    }
                  }
                  pageData.distribution.total = response.result.result.total;
                  if (pageData.distribution.total[0] && pageData.distribution.total[0].amount){
                    pageData.distribution.total[0].amount = new BigNumber(pageData.distribution.total[0].amount).div(Math.pow(10, pageData.decimal)).toFixed();
                  }
                });
                //投票节点收益
                // var promises = [];
                for (var k = 0; k < pageData.stakeList.length; k++) {
                  let index = k;
                  provider.get('/distribution/delegators/'+account+'/rewards/'+ pageData.stakeList[k].validator_address).then((response) => {
                    if(response.result.result){
                      pageData.stakeList[index].distribution = {
                        reward : response.result.result,
                        total :  new BigNumber(response.result.result[0].amount).div(Math.pow(10, pageData.decimal)).toFixed()
                      };
                    }
                  });
                }
                for (var j = 0; j < pageData.unbonding.length; j++) {
                  let index = j;
                  provider.get('/distribution/delegators/'+account+'/rewards/'+ pageData.unbonding[j].validator_address).then((response) => {
                    pageData.unbonding[index].distribution = {
                      reward : response.result.result,
                      total : new BigNumber(response.result.result[0].amount).div(Math.pow(10, pageData.decimal)).toFixed()
                    };
                  });
                }
              });
            });
          });
        });
      });
    });
  </script>
</div>
<script src="./js/jquery.i18n.properties.js"></script>
<script src="./js/language.js"></script>
</body>
</html>
