
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>选择验证人</title>
  <meta id="i18n_pagename" content="message">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="./css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="./css/common.css">
  <script src="./js/jquery-3.2.1.min.js"></script>
  <script src="./js/vue.min.js"></script>
  <script src="./js/common.js"></script>
</head>
<body>
<div class="mds-group">
  <link rel="stylesheet" type="text/css" href="./css/secret.css">
  <section class="iris" v-cloak>
    <div class="iris-info validators">
      <input class="search" type="text" v-model="searchKey" placeholder="Search...">
      <div class="stake-list" v-if="stakeList.length>0">
        <a :href="'./validator.html?data='+data+'&validator='+item.operator_address" class="card" v-for="item in stakeList" v-if="item.description && compareKey(item.description.moniker)">
          <img src="./img/forward_grey@2x.png" width="20" class="right">
          <h4>
            <span class="validator">{{item.description.moniker}}</span>
            <span v-if="item.isrecommend" class="recommend i18n" data-properties="iris_recommend" data-ptype="text"></span>
            <span v-if="item.isNoincome" class="noincome i18n" data-properties="iris_no_income" data-ptype="text"></span>
          </h4>
          <ul>
            <li class="row">
              <p class="s-title col s4 i18n" data-properties="iris_stake_assets" data-ptype="text"></p>
              <p class="col s8">
                <!-- 受委托资产 -->
                {{addCommas(item.delegator_shares)}} SCRT
              </p>
            </li>
            <li class="row">
              <p class="s-title col s4 i18n" data-properties="iris_commission" data-ptype="text"></p>
              <p class="col s8">
                <!-- 佣金 -->
                {{item.commission.commission_rates.rate*100}}%
              </p>
            </li>
          </ul>
        </a>
      </div>
    </div>
  </section>
  <script src='./js/bignumber.min.js'></script>
  <script type="text/javascript">
    $(function(){
      var pageData = {
        stakeList:[],
        searchKey:"",
        data: '',
        decimal: 6
      };
      var vue =new Vue({
        el: '.mds-group',
        data: pageData,
        created () {
          initLang();
        },
        mounted() {
          // language js
         initLang();
          this.data = getQueryVariable('data') ? getQueryVariable('data') : '';
        },
        methods:{
          // 数字千分位，保留四位小数格式化
          addCommas:function(nStr){
            return new BigNumber(nStr).div(Math.pow(10, this.decimal)).toFormat(4);
          },
          compareKey:function(value){
            if(this.searchKey){
              return value.toLowerCase().indexOf(this.searchKey.toLowerCase()) != -1;
            }else{
              return true;
            }
          }
        }
      });

      var nodeUrl = "https://secret.maiziqianbao.net";
      initMathExtension().then(() => {
        var provider = mathExtension.httpProvider(nodeUrl);
        // 全节点获取
        async function getValidatorsList(){
          var stakeList = [];
          var more = true;
          var page = 1;
          while(more){
            var res = await provider.get('/staking/validators',{page:page, size:100});
            var list = res.result.result;
            stakeList = stakeList.concat(list);
            more = false;
          }
          return stakeList;
        }

        getValidatorsList().then((stakeList) => {
          pageData.stakeList = stakeList;
        });
      });
    });
  </script>

</div>
<script src="./js/jquery.i18n.properties.js"></script>
<script src="./js/language.js"></script>
</body>
</html>
