
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>转委托</title>
  <meta id="i18n_pagename" content="message">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="./css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="./css/common.css">
  <script src="./js/jquery-3.2.1.min.js"></script>
  <script src="./js/vue.min.js"></script>
  <script src="./js/common.js"></script>
</head>
<body>
<div class="mds-group">
  <link rel="stylesheet" type="text/css" href="./css/secret.css">
  <section class="iris" v-cloak>
    <div class="top center-align">
      <h4 class="title">{{validator.description.moniker}}</h4>
      <p class="address">{{validator.operator_address}}</p>
    </div>
    <div class="iris-info">
      <div class="card iris-form">
        <h4 class="i18n" data-properties="iris_redelegate_to" data-ptype="text"></h4>
        <div class="form-group">
          <!-- 转入验证人 -->
          <input type="text" class="i18n" data-properties="iris_redelegate_to_pl" data-ptype="placeholder" v-model="redelegateTo.validator.description.moniker" disabled>
          <a :href="'./list.html?data='+data" class="i18n select-validator" data-properties="iris_select_destination_validator" data-ptype="text"></a>
        </div>
        <p style="word-break: break-all">{{redelegateTo.validator.operator_address}}</p>
      </div>
      <div class="card iris-form">
        <h4 class="i18n" data-properties="iris_redelegate_amount" data-ptype="text"></h4>
        <div class="form-group">
          <!-- 转出量 -->
          <input type="number" class="i18n" data-properties="iris_redelegate_amount_pl" data-ptype="placeholder" v-model="redelegate_amount">
          <span>SCRT</span>
        </div>
        <!-- 全部转出-->
        <div class="right i18n" data-properties="iris_redelegate_amount_all" data-ptype="text" @click="redelegateAll"></div>
        <!-- 可用份额 -->
        <p><span class="i18n" data-properties="iris_available_share" data-ptype="text"></span> {{addCommas(delegation.shares)}} SCRT</p>
      </div>
      <a href="javascript:;" class="iris-btn i18n redelegate_btn" :class="disable?'grey':''" data-properties="iris_redelegate" data-ptype="text"></a>
      <ul class="tips">
        <li class="i18n" data-properties="iris_redelegate_tip" data-ptype="text"></li>
      </ul>
    </div>
  </section>
  <script src='./js/bignumber.min.js'></script>
  <script type="text/javascript">
    var pageData = {
      disable : false,
      redelegate_amount: 0,
      redelegateTo : {
        validator : {
          address : '',
          description : {}
        },
      },
      validator : {
        description : {}
      },
      delegation : {
        shares : 0
      },
      data : "",
      redelegate_addr: '',
      decimal: 6
    };

    $(function(){
      var vue =new Vue({
        el: '.mds-group',
        data: pageData,
        created () {
          initLang();
          if (getQueryVariable('validator') && getQueryVariable('data')){
            this.data = getQueryVariable('data');
            this.redelegate_addr = getQueryVariable('validator');
          }else if (getQueryVariable('validator')) {
            this.data = getQueryVariable('validator');
            if (!this.data){
              alert('Error');
              window.history.back();
            }
          }
        },
        mounted() {
          // language js
          initLang();
        },
        methods:{
          // 全部转委托
          redelegateAll:function(){
            this.redelegate_amount=this.delegation.shares
          },
          // 数字千分位，保留四位小数格式化
          addCommas:function(nStr){
            return new BigNumber(nStr).toFormat(4);
          }
        }
      });

      //初始化插件
      var nodeUrl = "https://secret.maiziqianbao.net";
      var network = {
        blockchain: "secretnetwork",
        chainId: "secret-1"
      };
      initMathExtension().then((res) => {
        return mathExtension.getIdentity(network);
      }).then((identity) => {
        var account = identity.account;
        var provider = mathExtension.httpProvider(nodeUrl);
        var promise1 = provider.get('/staking/delegators/'+account+'/validators/'+pageData.data).then((res) => {
          var validator = res.result.result;
          pageData.validator = validator;
        });
        var promise2 = provider.get('/staking/delegators/'+account+'/delegations/'+pageData.data).then((res) => {
          var delegation = res.result.result;
          delegation.shares = new BigNumber(delegation.shares).div(Math.pow(10, pageData.decimal)).toFixed();
          pageData.delegation = delegation;
        });
        var promise3 = provider.get('/staking/validators/'+pageData.redelegate_addr).then((res) => {
          var validator = res.result.result;
          pageData.redelegateTo.validator = validator;
        });
        var promise4 = provider.get('/staking/redelegations?delegator='+account+'&validator_to='+pageData.redelegate_addr).then((res) => {
          var redelegations = res.result.result;
          if(redelegations){
            for(var i = 0; i < redelegations.length; i++){
              if(redelegations[i].validator_dst_addr == ""){
                pageData.disable = true;
              }
            }
          }
        });
        Promise.all([promise1,promise2,promise3,promise4]).then(() => {
          if(pageData.disable){
            return;
          }
          $('.redelegate_btn').on('click', function(){
            if(pageData.disable){
              return;
            }
            var amount = new BigNumber(pageData.redelegate_amount).times(Math.pow(10, pageData.decimal)).toFixed();
            var transaction = {
              chain_id: network.chainId,
              account_number: 0,
              sequence: 0,
              fee: {
                amount:[{
                  amount: '300',
                  denom: "uscrt"
                }],
                gas: '200000'
              },
              memo: "",
              msgs: [{
                type: "cosmos-sdk/MsgBeginRedelegate",
                value: {
                  delegator_address: account,
                  amount:{
                    amount : amount,
                    denom : 'uscrt'
                  },
                  validator_src_address: pageData.validator.operator_address,
                  validator_dst_address: pageData.redelegate_addr
                }
              }]
            };
            //发起交易
            sendTransaction(transaction, network, provider, account).then(res => {
              if (res.txhash && !res.code && res.gas_used){
                alert('已提交');
                window.location.href="./index.html";
              }
              if (res.raw_log && res.code){
                alert('Fail');
              }
            },e => {
              alert(e.message);
            });
          });
        });
      });
    });
  </script>

</div>
<script src="./js/jquery.i18n.properties.js"></script>
<script src="./js/language.js"></script>
</body>
</html>
